.wrappercell {
  margin: 0;
  padding: 0;

  background-image: url('../../images/menina.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h5 {
    background-color: transparent;
    

    font-size: 5.2rem;
  }
} 