.price {
  .container{
    
    
    h3 {
      text-align: center;
      font-size: 4.6rem;
      font-weight: 100;
    }
    .informacao {
      display: flex;
      margin-bottom: 60px;
      ul {
        width: 33.3%;
        .txt {
          font-size: 2.8rem;
          font-weight: 400;
        }
        li {
          p {
            font-size: 1.4rem;
          }
        }
      }
    }
    
    .card{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap:40px;
      margin-bottom: 20px;
      .cards {

        
        padding: 20px;

       
        min-width: 330px;
        border-radius: 0px;
        
       .topo {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
          .title {
            font-size: 2.8rem;
          }
          small {
            font-size: 1.4rem;
          }

          hr {
            width: 60%;
          }
        }
        .preco {
          display: flex;
          align-items: center;
          flex-direction: column;

          margin-top: 30px;
          
          strong {
           font-size: 1.2rem;
          }
          .valor {
            font-size: 3.8rem;
          }
          p {
            font-size: 1.4rem;
          }
          .icons {
          
            display: flex;
            flex-direction: row;
            gap: 20px;

            padding: 30px 0;
            img {
              width: 40px;
            }
          }
          p {
            margin: 0;
            padding: 10px 0;
          }
          .hub {
            width: 200px;

            p {
              margin: 0;
              text-align: justify;
            }
          }

          .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            padding: 10px 0;

            .buttons {

              a {
                padding: 10px;
                font-size: 1.8rem;
                background-color: red;
              }
            }
            .whats {
              p {
                margin: 0;
                padding: 0;
                font-size: 1.8rem;
              }

              span {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .price {
    .container {
      .informacao {
        display: flex;
        flex-direction: column;

        padding: 20px;

        ul {
          margin: 0;
          padding: 0;
          width: 100%;
          gap: 0px;
          .txt {
            font-size: 4.3rem;
          }
          li {
            p {
              font-size: 2.6rem;
            }
          }
        }
      }

      .card {
        .cards {
          .topo {
            .title {
              font-size: 4.8rem;
            }
            small {
              font-size: 3.0rem;
            }
          }
          .preco {
            p {
              font-size: 2.4rem;
            }
          }
          .btns {
            .buttons{
              font-size: 4.0rem;
            }
          }
        }
      }
    }
  }
}