
//Colors

$white: #f1f1f1;
$black: #141415;
$cinza: #87888c;

._sub {
  color: $cinza;
}

.button {
  min-width: 200px;
  padding: 20px;
 

  text-align: center;
  text-decoration: none;

  font-size: 2.2rem;
  font-weight: 100;
  border-radius: 5px;
 
  background-color: #0f63e5;
  transition: 2000ms;

  border: none;

  &:hover {
    transition: 2000ms;
    background-color: #1983ee;
  }
  
}