
.icon-facebook-circled:before { content: '\e0d6'; } /* '' */
.icon-ok-circled2:before { content: '\e702'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */